################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/Engine/x64
/x64
*.sln
*.exe
*.vcxproj
*.pdb
*.user
*.filters
*.dll
/Saper/x64
/Source/Source.vcxitems
/Natsuki
/Engine/Saper.hpp
/Engine/Saper.cpp
/Engine
/out/build/x64-Debug
