################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/Engine/x64
/x64
*.sln
*.exe
*.vcxproj
*.pdb
*.user
*.filters
*.dll
/Saper/x64
